*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family:'Montserrat', sans-serif; ;
    font-size: 14px;
    color:white;
    scroll-behavior: smooth;
}

/* stili container principale */
#wrapper-up{
    height: calc(100vh - 70px);
    background-color: blue;
    display: flex;
}

/* stili navbar */
#navbar{
    background-color: rgba(0, 0, 0, 0.342);
    opacity: 0,5;
    height: 70px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: end;
    align-items: center;
}
#upgrade{
    font-size: 10px;
    background-color:rgba(0, 0, 0, 0.342) ;
    color: white;
    border:  1px solid white;
    border-radius: 20px;
    padding: 10px; 
    
    
}

#upgrade:hover{
    transform: scale(1.1);
}

/* stili sidebar*/
#sidebar{
    width: 300px;
    height: 100%;
    background-color: black;
    padding:15px;
}

#logo{
    width: 70%;
    margin-bottom:20px;
}
span{
    color: #acacac;
    font-size: 10px;
}
span:hover{
    color: white;
}
#plus{
    background-color: #acacac;
    padding:7px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom:10px;
}

/* stili main conteiner */
#main-content{
    flex-grow: 1;
    height: 100%;
    background-color:rgb(10, 10, 17);
    overflow-y: auto;
}
.link-conteriner-content{
    display: flex;
    justify-content: center;
    padding-bottom:30px;
    
}
.link-content{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    width: 70%;
    flex-wrap: wrap;
}

#contento{
   /* background-color: rgba(0, 0, 0, 0.6);
    top:0px;
    left:9px;
    width: 171px;
   width: calc((100% / 6) - 10px);
    height: 171px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    /*opacity: 0;
    transition: 0.6s;*/
   
}
#contento:hover{
   /* opacity: 1;*/

}
.conteiner{
   /* width: calc(100% - 200px);*/
    margin: 0 auto;
    display: flex;
    min-height: 200px;
    background-color: rgba(151, 151, 151, 0.021);
    margin:25px 0;
}
h1{
    font-size: 25px;
}
img{
    width:90%;
    height: auto;
}


#artisti-bradius{
    border-radius: 50%;
}
/*.cards{
   background-color: red;
    height: 170px;
    margin: 10px;
   
   
}*/


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:35px;
    margin-bottom:35px;
}
.col1{
    width: calc((100% / 6) - 10px);
    text-align: center;
    vertical-align: middle;
    position: relative;
}

/* stili controller */
#controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    height: 70px;
    background-color: rgb(34, 34, 34);
    
}

.footercenter{
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: center;
}

.bottom-footer{
    display: flex;
}
.bottom-center{
    padding-left:20px;
    padding-bottom: 10px;
}

#icon-footer{
    padding-left:10px;
    font-size: 12px;
}

.icon-footerleft{
    padding-top: 15px;
    padding-left: 15px;
}
a{
    text-decoration-line: none;
    color: white;
}



#sinister{
  width: 50px;
}

.slidecontainer {
    width: 100%;
    padding-left: 18px;
}
.slidecontainer2 {
    width: 50%;
    padding-left:5px;
}
  

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
 }
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background: #04AA6D;*/
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#00d021;
    cursor: pointer;
}

/* versione tablet*/
@media all and (max-width:950px) {

    .col1{
        width: calc((100% / 4) - 10px);
    }
}

/* versione smartphone*/
@media all and (max-width:750px) {

    .col1{
        width: calc((100% / 2) - 10px);
    }
}

/* versione mini smartphone */
@media all and (max-width:600px) {

    #sidebar{
        display: none;
    }
}

@media all and (max-width:500px) {

    #sidebar{
        display: block;
    }
}